
.App{
  width: 100%;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mapaPe{
  width: 40%;
}
header{
  width: 100%;
  height: 9vh;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
nav{
  width: 100%;
  height:9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 12%;
  cursor: pointer;
}

section{
  margin-top: 2vh;
  width:25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  z-index: 1;
  padding: 5px;
}
.containermapa{
  margin-top: 8vh;
}
main{
  display: flex;
  align-items: self-start;
  width: 100%;
  height: 59.5vh;
}
form{
  width: 100%;
  padding: 10px;
  padding-left: 10px;
}
input{
  width: 100%;
  height: 2rem;
  border: 0;
  background-color: transparent;
  font-size: 15px;
  padding-left: 9px;
  border-radius: 30px ;
}
input:focus {
  outline: none; 
  box-shadow: none;
}

label{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  border-radius: 30px ;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: rgb(104, 103, 103);
}
.components{
  width: 100%;
  overflow-x: hidden;
  border-top: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-left: 5px;
  max-height: 46vh;
}
.components-filhos{
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  color: rgb(104, 103, 103);
}
.componentsNone{
  display: none;
}
.cidades{
  position: absolute;
  width: 95%;
  height: 80vh;
}


.descricao{
  width: 90%; 
  height: 30vh;
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}
.bloco1,.bloco2,.bloco3{
  width: 35%;
  height: 30vh;
}
.bloco1{
  display: flex;
  gap: 12%;
  flex-direction: column;
  justify-content: center;
}
span{
  margin-left: 4%;
  font-size: 15px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.spam-1{
  color: #40a6f6;
}
.spam-2{
  color: hsl(0, 2%, 71%);
}
.spam-3{
  color: #01011f;
}
p{
  font-size:18px;
  color: black;
}
.bloco2{
  display: flex;
  justify-content: center;
  align-items: center;

}
.bloco3{
  display: flex;
  justify-content: center;
  align-items: center;
}
